/*This css is intended for specific classManagement*/
main{
  margin-left: 25%;
  margin-right: 20%;
}

#mini-sidebar{
  width: 20%;               /* or any fixed width like 200px */
  top: 0;
  right: 0;                 /* this puts it at the right edge of the screen */
  z-index: 1000;
}

.cstm-btn-w{
  width: 40%;
}

/*view modal inTrack logo header*/
#viewModal_Header{
  height: 70px;
}

/*for icon download_QR_Icon*/
#download_QR_Icon{
  position: absolute;
  top: 91.4%;     /* adjust as needed */
  right: 36%;   /* adjust as needed */
  color: #555;   /* optional */
  cursor: pointer;
}

/*ICON for exiting modal*/
#exitView_Modal{
  position: relative;
  bottom: 4.8vh;
  left: 38%;
  color: #198754; /* Same as text-success */
  transition: color 0.3s ease; /* Smooth transition */
}

#exitView_Modal:hover {
  color: #dc3545; /* Bootstrap's text-danger color */
}

/*Anchor to class management*/
#link_classManagement{
  position: absolute;
  top: 4vh;
  left: 27.2%;
}

/*for Settings.html camera*/
#photo_cameraEdit{
  position: absolute;
  top: 45vh;
  left: 39.5%;
}