/*This is for custom Classes, inhereted*/
body{
  font-family: "Roboto", sans-serif;
}

.img-logo-size{
  height: 100px;
  width: 290px;
}

.aside-bar-h{
  height: 100px;
}

.d-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-shadow {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1); /* soft, deep enough */
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  background-color: #fff;
  padding: 0.75rem 1rem;
}

.custom-color{
  color: rgb(108, 108, 107);
}

.cstm-lttr-spcng{
  letter-spacing: 1px;
}

.cstm-icon-clr{
  color: rgb(73, 147, 107);
}

/*hamburger menu image footer*/
.custom-hm-img{
  height: 70px;
  width: 70px;
}

/*footer username container*/
.usrnme-footer-container{
  width: 220px;
}

.cursor-pointer{
  cursor: pointer;
}

.custom-header-fs{
  font-size: 30px;
}

.cstm-box-bg-clr{
  background-color: rgb(84, 195, 135);
}

/*for calendar bg*/
.class-bg-color{
  background-color: rgb(163, 217, 255);
}

.students-sec-fs{
  font-size: 2.7rem;
}

.students-sec-bg-color{
  background-color: rgb(255, 246, 137);
}

.custom-table-bg{
  background-color: rgb(108, 108, 107);
}

.inner-shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06); /* subtle inner depth */
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  transition: box-shadow 0.2s ease;
}

.cstm-view-icon{
  color: rgb(25, 122, 192);
}

.custom-h-qr{
  height: 200px;
}

.icon-boldish {
  text-shadow: 0 0 0.6px currentColor, 0 0 0.6px currentColor; /* Fake bold effect */
  display: inline-block; /* Ensures `text-shadow` applies properly */
}

/*class-details, add student form*/
.photo-container{
  height: 250px;
}

/* icon for editing the photo */
#editing_Photo {
  position: absolute;
  top: 54vh;     /* adjust as needed */
  right: 51%;   /* adjust as needed */
  color: #555;   /* optional */
  cursor: pointer;
}

/*for hr*/
.hr-thick-success {
  height: 3px;
  opacity: 1;
  border: none;
  background-color: #198754; /* Bootstrap success color */
}

/*form select w*/
.custom-select-w{
  width: 31.2%;
}